{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Image list</h1>

	<div class="count">
		共 {{ pagination.getTotalItemCount }} 筆資料
	</div>

	<div class="navigation">
		{{ knp_pagination_render(pagination) }}
	</div>

    <table class="records_list">
        <thead>
            <tr>
				<th{% if pagination.isSorted('o.id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Id', 'o.id') }}</th>
                <th>Imagename</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td><a href="{{ path('image_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>
					<img src="{{ vich_uploader_asset(entity, 'imageFile') }}" alt="{{ entity.imageName }}" />
				</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('image_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('image_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('image_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
