<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
		{% stylesheets
			'src/Aedes/css/*.css'
			'vendor/bootstrap-3.2.0-dist/css/*.css'
			filter='cssrewrite'
		%}
			<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
		{% javascripts
			'src/Aedes/js/*.js'
			'vendor/bootstrap-3.2.0-dist/*/*.min.js'
			'vendor/jQuery/*.min.js'
		%}
			<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
        {% block stylesheets %}
			<style>
				body
				{
					padding-top: 70px;
				}
			</style>
		{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="container">
		<header>
			{% embed '@MopaBootstrap/Navbar/navbar.html.twig' with { fixedTop: true, inverse: true } %}
				{% block brand %}
					<a class="navbar-brand" href="{{ path("moto") }}">AEdes Moto</a>
				{% endblock %}

				{% block menu %}
					{{ mopa_bootstrap_menu('main', {'automenu': 'navbar'}) }}
				{% endblock %}
			{% endembed %}
		</header>

		<div class="wrap">
			{% block body %}{% endblock %}
		</div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
